.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  width: 95%;
  cursor: pointer;
}

.card:last-child {
  margin-bottom: 7rem;
}

.card img {
  width: 100%;
  border-radius: var(--borderRadius1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
}

.card div {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card div span:first-child {
  color: var(--blueShade1);
  font-size: var(--smallFontSize1);
  font-weight: bold;
}

.card div span:last-child {
  display: flex;
  gap: .3em;
  font-size: var(--smallFontSize2);
}

.card div i {
  font-size: 1.2em;
}

@media only screen and (min-width: 750px) {
  .card {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }

  .card:last-child {
    margin-bottom: 1rem;
  }

  .card div span:first-child {
    font-size: var(--baseFontsize);
  }
  
  .card img {
    max-width: 240px;
    min-height: 160px;
    object-fit: cover;
  }
}