.wrapper {
  display: grid;
  grid-template-rows: 0.1fr 7fr 0.2fr;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.wrapper h3 {
  position: sticky;
  color: var(--blueShade1);
  font-size: var(--headingFontSize4);
  padding-left: .3rem;
  margin-bottom: 1rem;
}

.me {
  display: flex;
  justify-content: flex-end;
}