.wrapper {
  width: 100%;
  padding: 1rem;
}

.wrapper h4 {
  color: var(--blueShade1);
  font-size: var(--headingFontSize4);
  padding-left: .3rem;
  margin-bottom: 1rem;
}

.content {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--whiteShade1);
  font-size: var(--baseFontSize);
  background-color: var(--blueShade1);
  border-radius: var(--borderRadius1);
}

.content div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  gap: max(.3em, 0);
  padding: .5em;
  border-radius: var(--borderRadius3);
  background-color: var(--whiteShade1);
}

.content span {
  font-size: var(--baseFontSize);
  color: var(--blueShade1);
}

.content input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blueShade1);
  color: var(--blackShade1);
  font-weight: bold;
  font-size: var(--baseFontSize);
}

.circle {
  font-size: var(--baseFontSize);
  color: var(--blueShade1);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: .5em;
  padding-right: .3em;
}

.start,
.cancel,
.stop {
  padding: .8em 1em;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: var(--smallFontSize1);
  border-radius: var(--borderRadius3);
  cursor: pointer;
}

.cancel {
  background-color: var(--redShade1);
  color: var(--blackShade1);
}

.stop {
  background-color: var(--orangeShade1);
  color: var(--blackShade1);
}

.start {
  background-color: var(--blueShade2);
  color: var(--blueShade3);
}

.hidden {
  visibility: hidden;
}
