.wrapper {
  width: 200px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.circle {
  width: .5rem;
  height: .5rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--blueShade2);
  left: 35%;
  transform-origin: 50%;
  animation:  circle .4s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 30px;
  }
  
  100% {
    background-color: var(--blueShade1);
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: 55%;
  animation-delay: .3s;
}

.circle:nth-child(4) {
  left: 65%;
  animation-delay: .4s;
}