.container {
  width: 100%;
  height: 95vh;
}

.wrapper {
  width: 100%;
  height: 80%;
  position: relative;
}

.videoWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.video__mainstream > span {
  position: absolute;
  top: 0;
  left: 25%;
  padding: .5rem;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 2px;
}

.switchCamera {
  position: absolute;
  top: 0;
}

.smallVideoSection {
  display: flex;
  gap: .5rem;
  height: 20%;
  padding: .5rem;
  overflow-x: auto;
}

.video {
  position: relative;
}

.nickname {
  font-size: var(--smallFontSize3);
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  opacity: 50%;
  color: black;
  padding: 4px;
  border-radius: 2px;
}

.video__mainstream {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 750px) {
  .smallVideoSection {
    padding: 1rem 2rem;
    justify-content: center;
  }

  .video__mainstream > span {
    left: 0;
  }
}