.wrapper {
  height: 95vh;
  position: relative;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  height: 100vh;
  justify-content: center;
  grid-gap: 0; */
  background: var(--grayShade2);
}

.videoWrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.videoContainer{
  /* padding: 30px; */
}

@media only screen and (min-width: 750px) {
  .wrapper {
    height: 100vh;
    /* grid-template-columns: 1fr 1fr; */
  }

  .videoContainer {
    /* max-height: 500px; */
  }
}