.buttonGroup {
  position: absolute;
  left: 0;
  bottom: 4%;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  color: var(--blueShade1);
}

.button {
  padding: 1rem;
  font-size: var(--headingFontSize4);
  background-color: var(--whiteShade1);
  border-radius: 50%;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: translateY(-.1rem);
}

.exitButton {
  color: var(--whiteShade1);
  background-color: var(--redShade2);
}

.colorRed {
  color: var(--redShade1);
}

.hidden {
  display: none;
}

.share__btn {
  display: none;
}

@media screen and (min-width: 750px) {
  .buttonGroup {
    width: min(25rem, 50%);
    left: 50%;
    transform: translate(-50%);
  }

  .share__btn {
    display: block;
  }
}