.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 5rem;
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1100px;
  height: 100%;
}


@media only screen and (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .sidePannel {
    grid-column: 1 / 2;
  }

  .main {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 80vh; */
    margin-bottom: 5vh;
  }

  .noResult {
    margin-top: 4rem;
  }

}